html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.1),
    rgba(12, 8, 24, 0.3)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(10, 10, 10, 0.1),
    rgba(12, 10, 22, 0.5)
  );

  --imp-text-color: #3b47b1;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}


/* Navbar */
nav {
    /* position: fixed; */
    top: 0%;
    width: 100%;
    height: 50px;
    display: block;
    border-bottom: solid 1px black;
    padding: 5px;
    margin: 5px;
}

.navbarLinks {
    
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items:center;
    position: relative
}

.NavflexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(243, 243, 243);
}

.Links{
    margin-right: 20px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

/* Projects */
.project-heading{
    text-align: center;
}

.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
  }
  
  .project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
  
  .project-card-view {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }


/* contact form */
.contact-section{
    height: 100vh;
    position: relative;
    background-image: var(--section-background-color) !important;
}
.contact-me{
    margin-top: 85px;
}
.contact-des{
    margin-top: 20%
}
.contact-right{
    max-width: 300px;
    margin: 20px auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-wrapper{
    padding: 50px;
    display: flex;
}
.contact-info{
    flex: 1;
}
input {
    margin: 10px 0px;
    background-color: #cfd7da;
    color:rgb(0, 12, 22);
    border-radius: 5px;
    width: 51%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #61dafb;
    font-size: 14px;
    font-weight: bold;
}

textarea {
    margin: 10px 0px;
    width: 100%;
    background-color: #cfd7da;
    color: rgb(0, 12, 22);
    border-radius: 5px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #61dafb;
    font-weight: bold;
}


/* Social */
.contact-social{
    flex: 1;
}
.social-row{
  align-items: center;
  text-align: center;
}
.social-icon{
  position: relative !important;
  display: inline-block !important;
}

/* skills */
.skills-header{
    text-align: center;
}

.skills-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }
  
  @media (max-width: 767px) {
    .skills-icons {
      margin: 10px !important;
    }
  }

  .skills-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
  }
  .skills-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }

  /* home */
  .home-section {
    background: var(--image-gradient), url('https://github.com/llting592/portfolio/blob/master/src/Assets/pexels-eberhard-grossgasteiger-1624504%20(1).jpg?raw=true');
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    align-items: center;
    position: relative;
    z-index: -1;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
  }
  .intro-section {
    text-align: left;
    padding: 13rem 0 10rem !important;
  }

  /* about */
  .about-section {
    background-image: var(--section-background-color) !important;
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
  }

 
/* resume */
.resume-section{
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  background-image: var(--section-background-color) !important;
  color: white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #8a49a8;
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #5234795d;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #8a49a8;
}

.profilePic{
  position: absolute; right:10%;

}