.{
  background-image: 
}
/* Navbar */
nav {
    /* position: fixed; */
    top: 0%;
    width: 100%;
    height: 50px;
    display: block;
    border-bottom: solid 1px black;
    padding: 5px;
    margin: 5px;
}

.navbarLinks {
    
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items:center;
    position: relative
}

.NavflexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Links{
    margin-right: 20px;
    font-size: 20px;
    color: #000;
    cursor: pointer;
}

/* Projects */
.project-heading{
    text-align: center;
}

.project-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
  }
  
  .project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
  }
  
  .project-card-view {
    box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459) !important;
    background-color: transparent !important;
    opacity: 0.9 !important;
    transition: all 0.5s ease 0s !important;
    height: 100% !important;
  }


/* contact form */
.contact-section{
    height: 100vh;
    position: relative;
}
.contact-me{
    margin-top: 85px;
}
.contact-des{
    margin-top: 20%
}
.contact-right{
    max-width: 300px;
    margin: 20px auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-wrapper{
    padding: 50px;
    display: flex;
}
.contact-info{
    flex: 1;
}
input {
    margin: 10px 0px;
    background-color: #cfd7da;
    color:rgb(0, 12, 22);
    border-radius: 5px;
    width: 51%;
    height: 35px;
    border: none;
    border-bottom: 1px solid #61dafb;
    font-size: 14px;
    font-weight: bold;
}

textarea {
    margin: 10px 0px;
    width: 100%;
    background-color: #cfd7da;
    color: rgb(0, 12, 22);
    border-radius: 5px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #61dafb;
    font-weight: bold;
}


/* Social */
.contact-social{
    flex: 1;
}
.social-row{
  align-items: center;
  text-align: center;
}
.social-icon{
  position: relative !important;
  display: inline-block !important;
  width: 200px !important;
  height: 200px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

/* skills */
.skills-header{
    text-align: center;
}

.skills-icons {
    font-size: 4.5em !important;
    margin: 15px !important;
    padding: 10px !important;
    opacity: 0.93 !important;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    vertical-align: middle !important;
    text-align: center !important;
    border-radius: 5px !important;
    display: table !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
    overflow: hidden !important;
    transition: all 0.4s ease 0s !important;
  }
  
  @media (max-width: 767px) {
    .skills-icons {
      margin: 10px !important;
    }
  }

  .skills-icons:hover {
    transform: scale(1.05) !important;
    overflow: hidden !important;
    border: 2.2px solid rgba(197, 115, 230, 0.883) !important;
  }
  .skills-icon-images {
    padding: 20px !important;
    line-height: 1.6 !important;
  }

  /* home */
  .home-section {
    align-items: center;
    position: relative;
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px !important;
    padding-top: 30px !important;
  }
  .intro-section {
    text-align: left;
    padding: 13rem 0 10rem !important;
  }

  /* about */
  .about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
  }

 

